body {
  background: linear-gradient(to right, rgba(22,19,22,0.7), rgba(127,89,117,0.7)), url("img/background1.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.login-page {
  max-width: 460px;
  padding: 10% 0 0;
  margin: auto;
  position: relative;
  -webkit-animation: mymove 2s;  /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: mymove 2s;
  animation-fill-mode: forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {top: 0px;}
    to {top: 75px;}
}

@keyframes mymove {
    from {top: 0px;}
    to {top: 75px;}
}

#logo {
  width: 180px;
  padding: 60px;
}

.form {
  position: relative;
  max-width: 460px;
  margin: 0 auto;
  padding: 0 80px;
  text-align: center;
}

.form input {
  font-family: 'Raleway', sans-serif;
  outline: 1;
  background: #ffffff;
  opacity: 0.8;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 25px;
}

.form input:focus {
  outline: none;
}

button {
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 300;
  letter-spacing: 1px;
  outline: 0;
  background: #f52f61;
  width: 100%;
  border:0;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 25px;
}

button:hover, .form button:active {
  opacity: 0.7;
  transition: 0.5s linear;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: #c9c3c3;
  text-align: left;
  padding: 10px;
}

.form .message {
  margin: 15px 0 0;
  font-size: 12px;
}

.form .message a{
  color: #c9c3c3;
  text-decoration: none;
  padding: 10px;
}

.form .message a:hover {
  color: #ffffff;
  opacity: 1;
}

.form .register-form {
  display: none;
}
